<div class="container">
  <div class="home" data-ceiling="topbar">
    <div class="labels">
      <div class="selected">Top</div>
      <div>Architecture</div>
      <div>BI</div>
      <div>SDK</div>
      <div>Mobile</div>
    </div>
    <div class="tutorials">
      {{{ page.contents }}}
      <!--{{#each site.components.tutorials.tiles}}-->
        <!--<div class="sect1 tutorial title">-->
          <!--<h2 id="_mobile">{{role}}</h2>-->
          <!--<div class="sectionbody">-->
            <!--<div class="sect2 tutorial info">-->
              <!--<h3 id="_travel_sample">{{title}}</h3>-->
              <!--<div class="paragraph">-->
                <!--<p>{{description}}</p>-->
              <!--</div>-->
              <!--<div class="ulist tutorial languages">-->
                <!--<ul>-->
                  <!--{{#each language}}-->
                    <!--<li>-->
                      <!--<p>-->
                        <!--<a href="{{{url}}}">{{name}}</a>-->
                      <!--</p>-->
                    <!--</li>-->
                  <!--{{/each}}-->
                <!--</ul>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--{{/each}}-->
    </div>
  </div>
</div>
