<header class="header">
  <nav class="navbar" id="topbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://www.couchbase.com"><img src="{{uiRootPath}}/img/logo.svg" alt="Couchbase"></a>
        <button class="navbar-burger" data-target="topbar-menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div id="topbar-menu" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown">
            <a class="navbar-link" href="{{or site.url (or siteRootUrl siteRootPath)}}">Docs</a>
            <div class="navbar-dropdown explore">
              <div class="title">Couchbase Documentation Overview</div>
              <div class="links">
                <ul class="links-server">
                  <li class="heading"><a href="{{siteRootPath}}/server/5.5/introduction/intro.html">Couchbase Server</a></li>
                  <li><a href="{{siteRootPath}}/server/5.5/n1ql/n1ql-language-reference/index.html">N1QL</a></li>
                  <li><a href="{{siteRootPath}}/server/5.5/fts/full-text-intro.html">Full Text Search</a></li>
                  <li><a href="{{siteRootPath}}/server/5.5/analytics/introduction.html">Analytics (Beta)</a></li>
                  <li><a href="{{siteRootPath}}/server/5.5/eventing/eventing-overview.html">Eventing</a></li>
                  <li><a href="{{siteRootPath}}/operator/0.9/overview.html">Autonomous Operator</a></li>
                </ul>
                <ul class="links-mobile">
                  <li class="heading">Couchbase Mobile</li>
                  <li><a href="#">Lite</a></li>
                  <li><a href="#">Sync Gateway</a></li>
                </ul>
                <ul class="links-sdks">
                  <li class="heading">SDKs</li>
                  <li><a href="{{siteRootPath}}/c-sdk/2.8/common/development-intro.html">C</a></li>
                  <li><a href="{{siteRootPath}}/dotnet-sdk/2.5/common/development-intro.html">.NET</a></li>
                  <li><a href="{{siteRootPath}}/go-sdk/1.2/common/development-intro.html">Go</a></li>
                  <li><a href="{{siteRootPath}}/java-sdk/2.5/common/development-intro.html">Java</a></li>
                  <li><a href="{{siteRootPath}}/nodejs-sdk/2.4/common/development-intro.html">Node.js</a></li>
                  <li><a href="{{siteRootPath}}/python-sdk/2.2/common/development-intro.html">Python</a></li>
                  <li><a href="{{siteRootPath}}/php-sdk/2.4/common/development-intro.html">PHP</a></li>
                </ul>
                <ul class="links-connectors">
                  <li class="heading">Connectors</li>
                  <li><a href="{{siteRootPath}}/server/5.5/connectors/elasticsearch/overview.html">Elasticsearch</a></li>
                  <li><a href="{{siteRootPath}}/server/5.5/connectors/hadoop-1.2/hadoop.html">Hadoop</a></li>
                  <li><a href="{{siteRootPath}}/server/5.5/connectors/kafka-3.2/kafka-intro.html">Kafka</a></li>
                  <li><a href="{{siteRootPath}}/server/5.5/connectors/spark-2.2/spark-intro.html">Spark</a></li>
                  <li><a href="{{siteRootPath}}/server/5.5/connectors/talend/talend.html">Talend</a></li>
                  <li><a href="{{siteRootPath}}/server/5.5/connectors/odbc-jdbc-drivers.html">ODBC/JDBC</a></li>
                </ul>
              </div>
            </div>
          </div>
          {{#if page.component}}
          {{#if page.versions}}
          <div class="navbar-item has-dropdown">
            <a class="navbar-link" href="{{page.component.url}}">{{{page.component.title}}} <span class="version">{{page.version}}</span></a>
            <div class="navbar-dropdown versions">
              <ul>
                {{#each page.versions}}
                <li><a class="navbar-item" href="{{relativize @root.page.url ./url}}">{{{@root.page.component.title}}} {{./version}}</a></li>
                {{/each}}
              </ul>
            </div>
          </div>
          {{else}}
          <a class="navbar-item" href="{{relativize page.url page.component.url}}">{{{page.component.title}}} <span class="version">{{page.version}}</span></a>
          {{/if}}
          {{/if}}
          {{#if env.ALGOLIA_API_KEY}}
          <form class="navbar-item search">
            <input type="text" placeholder="Search Couchbase Docs" class="query" id="search-query">
            <button class="search"><span>Search</span></button>
          </form>
          {{/if}}
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <a class="red-btn" href="https://www.couchbase.com/downloads">Downloads</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
