<main class="article" data-ceiling="topbar">
  {{#unless (or page.attributes.hide-view-latest (eq page.componentVersion (or page.component.preferred page.component.latest)))}}
  <div class="article-banner">
    {{#if page.componentVersion.prerelease}}
    <p>You are viewing the documentation for a prerelease version.</p>
    {{else}}
    <p>A newer version of this documentation is available.</p>
    {{/if}}
    {{#with page.component.preferred}}
    <a class="btn" href="{{relativize (or (resolvePageURL @root.page.relativeSrcPath version=./version) ./url)}}">View Latest</a>
    {{else}}
    <a class="btn" href="{{#if (eq env.SUPPORTS_CURRENT_URL 'true')}}{{relativize (current-url page.url)}}{{else}}{{relativize page.latest.url}}{{/if}}">View Latest</a>
    {{/with}}
  </div>
  {{/unless}}
  <div class="article-header">
{{> nav-control}}
{{> crumbs}}
{{> toolbar}}
  </div>
{{> article}}
</main>
