{{#if (and page.component (ne page.component.name 'home'))}}
    {{#if (and page.component (ne page.component.name 'tutorials'))}}
        {{#if (and page.component (ne page.component.name 'userprofile-couchbase-mobile'))}}
            {{#if (or page.versions (ends-with page.component.name '-sdk'))}}
                <div class="component-frame has-dropdown">
                    <div class="frame-icon">
                        <img src="{{uiRootPath}}/img/server-icon.png" alt="">
                    </div>
                    <div class="frame-body">
                        <h4 class="title"><span class="title">{{{page.component.title}}}</span></h4>
                        <div class="frame-link-dropdowns">
                          <a class="frame-link component" href="{{relativize page.componentVersion.url}}"> <span class="version">Version {{page.componentVersion.displayVersion}}</span></a>
                          <div class="frame-dropdown versions">
                              <ul class="frame-dropdown-list">
                              {{#each page.versions}}
                                  {{#unless (eq ./version @root.page.version)}}
                                      <li><a class="frame-item" href="{{relativize ./url}}">
                                      {{!-- {{{@root.page.component.title}}} --}}
                                      Version {{./displayVersion}}</a></li>
                                  {{/unless}}
                              {{/each}}
                              </ul>
                              {{#if (ends-with page.component.name '-sdk')}}
                                  <ul class="related">
                                  {{#each (related-sdk-pages 'c,dotnet,go,java,nodejs,php,python,scala')}}
                                      <li><a class="navbar-item" href="{{relativize ./url}}">{{{./title}}}</a></li>
                                  {{/each}}
                                  </ul>
                              {{/if}}
                          </div>
                        </div>
                    </div>
                </div>
            {{else}}
            <a class="navbar-item component" href="{{relativize page.componentVersion.url}}"><span class="title">{{{page.component.title}}}</span>{{#unless (eq page.componentVersion.displayVersion 'master')}} <span class="version">{{page.componentVersion.displayVersion}}</span>{{/unless}}</a>
            {{/if}}
        {{/if}}
    {{/if}}
{{/if}}