{{#if navigation}}
  {{#each navigation}}
    {{#if (eq ../crumbAtLevel this)}}
      {{#if ( eq ../crumbLevel 0 or eq ../crumbLevel 1 or eq ../crumbLevel 2)}} 
          <div class="main-nav-parent new">
            <span class="back-to-menu">Main Menu </span>
            {{!-- <span class="nav-text">{{{./content}}}</span> --}}
          </div>
      {{/if}}
    {{/if}}
  {{/each}}
  <ul class="nav-list">
    {{!-- {{log ../crumbAtLevel this 'log output'}} --}}
    {{#each navigation}} 
      <li class="nav-item{{#if (eq ../crumbAtLevel this)}}
        {{~#if (eq this (last @root.page.breadcrumbs))}} is-current-page{{~else}} is-current-path{{/if}} is-active
        {{~else if (eq ../level 0)}} {{!--is-active--}} is-inactive{{/if}}{{#if (eq ../crumbAtLevel this (and eq ../level 2))}} is-active-depth-2 {{/if}} " data-depth="{{../level}}">
          
          {{#if ./content}}
          <span class="nav-line "  data-depth="{{../level}}">
            {{#if ./items}}
              {{#if ./icons}}
                <i class="{{./icons}}"></i>
              {{/if}}
              <span class="in-toggle" data-depth="{{../level}}"></span>
              {{!-- <button class="nav-toggle"></button> --}}
            {{/if}}
            {{#if ./url}}
              <a class="nav-link" href="{{ifelse (eq ./urlType 'internal') (relativize ./url) ./url}}">{{{./content}}}</a>
            {{else}}
              <span class="nav-text ">{{{./content}}}</span>
            {{/if}}
          </span>
          {{/if}}
        {{> nav-tree navigation=./items level=(add ../level 1) crumbLevel=(add ../crumbLevel (and ./content 1)) crumbAtLevel=(lookup @root.page.breadcrumbs (add ../crumbLevel (and ./content 1)))}}
      </li>
    {{/each}}
  </ul>
{{/if}}
