{{#if page.navigation}}
<div class="navigation-menu is-active" data-panel="menu">
  <nav class="nav-menu">
    {{#if page.versions}}
    <select class="page-versions">
      {{#each page.versions}}
      <option value="{{relativize @root.page.url ./url}}"
        {{~#if (eq ./version @root.page.version)}} selected{{/if}}>{{@root.page.component.title}} {{./version}}</option>
      {{/each}}
    </select>
    {{else}}
    {{page.version}}
    {{/if}}
{{> navigation-tree navigation=page.navigation}}
  </nav>
</div>
{{/if}}
