{{#if page.navigation}}
<div class="navigation-menu is-active" data-panel="menu">
  <nav class="nav-menu">
    <select class="page-versions">
      {{#if page.versions}}
      {{#each page.versions}}
      <option value="{{relativize @root.page.url ./url}}"
        {{~#if (eq ./version @root.page.version)}} selected{{/if}}>{{{@root.page.component.title}}} {{./version}}</option>
      {{/each}}
      {{else}}
      <option>{{{page.component.title}}} {{page.version}}</option>
      {{/if}}
    </select>
{{> navigation-tree navigation=page.navigation}}
  </nav>
</div>
{{/if}}
