<!DOCTYPE html>
<html lang="en">
  <head>
{{> head-first}}
    <title>{{{detag (or page.title 'Untitled')}}}{{#if site.title}} | {{{site.title}}}{{/if}}</title>
    {{#if page.canonicalUrl}}
    <link rel="canonical" href="{{#if (and (eq env.SUPPORTS_CURRENT_URL 'true') (ne page.version 'master'))}}{{concat site.url (current-url page.url)}}{{else}}{{page.canonicalUrl}}{{/if}}">
    {{/if}}
{{> head-last}}
  </head>
  <body class="article">
{{> header}}
{{> body}}
{{> footer}}
  </body>
</html>
